.parent_contact_div{
    display: flex;
    color: white;
    border-radius: 7px;
    border: 1px solid #ddd;
    box-shadow: 5px 9px 8px 5px rgb(211, 211, 211);
   
}
.left_contact_div{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #055e7f;
    padding-left: 4rem;
    padding-top: 2rem;
    border-radius: 7px 0px 0px 7px;

}
.social_media_div{
  display: flex;
  gap: 3rem;
  align-items: flex-end;
  height: 100%;
  padding-left: 2.5rem;
  
    
}
.social_media_div>:nth-child(1){
   height: max-content;

}
.social_media_div>:nth-child(2){

   height: max-content;
}
.social_media_div>:nth-child(3){
   height: max-content;
 }
a{
    font-size: 2rem;
    color: white;
}
.heading{
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}
.heading>:nth-child(1){
    font-weight: 500;
    font-size: 1.5rem;

}
.information_about_me{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.chat_to_us_div{
    display: flex;
    flex-direction: column;
   
}
.chat_to_us_div>:nth-child(1){
    font-weight: 500;
    font-size: 1.5rem;

}
.chat_to_us_div>:nth-child(2){
   padding-left: 2.5rem;

}

.chat_to_us_div>:nth-child(3){
    padding-left: 2.5rem;
 
 }
 .chat_fotnausome>:nth-child(2){
    padding-left: 1rem;
 }
.office_div{
    display: flex;
    flex-direction: column; 
}
.office_div>:nth-child(1){
    font-weight: 500;
    font-size: 1.5rem;

}
.office_div>:nth-child(2){
    padding-left: 2.6rem;

}
/* .office_div>:nth-child(3){
    padding-left: 1.5rem;

} */

.office_location>:nth-child(2){
    padding-left: 1.4rem;
 }
.phon_div{
    display: flex;
    flex-direction: column; 
}
.phon_div>:nth-child(1){
    font-weight: 500;
    font-size: 1.5rem;

}
.phon_div>:nth-child(2){
    padding-left: 2.5rem;
}
/* .phon_div>:nth-child(3){
    padding-left: 1.3rem;
} */


.mobileicon_div>:nth-child(2){
    padding-left: 1.4rem;
 }
.right_contact_div{
    display: flex;
    flex: 2;
    border-radius: 0px 7px 0px 0px;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 2rem; 
}

@media screen and (max-width: 600px) {
    .parent_contact_div{
        display: flex;
         flex-direction: column;
       
    }
    .left_contact_div{
        padding-left: 2rem;
        padding-top: 2rem;
        border-radius: 7px ;
    }
    .right_contact_div{
        display: flex;
        flex: 1;
        border-radius: 0px 7px 0px 0px;
        justify-content: flex-start;
        align-items: flex-start;
        color: black;
        padding: 0rem; 
    
    }
    .social_media_div{
        padding: 1rem;
        padding-left: 2.5rem;
        
          
      }
}