.parent_div{
    background-color: black;
    color: white;
    display: flex;
    gap: 1rem;
   padding: 1.5rem;
   padding-left: 5rem;
   /* position: fixed; */
   width: 100%;
   z-index: 100;
   opacity: 0.8;
}
.fontIcondiv{
    display: none;
    gap: 1rem;
    padding: 1rem;
    z-index: 1000;
    font-size: 1.3rem;
    cursor: pointer;
}
.fontIcondiv>:nth-child(1){
      width: 2rem;
      height: 100%;
}
.main_navbar_div{
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    width: 80%;
    align-items: center;
    justify-content: center;
  
}
.main_navbar_div>:nth-child(1){
   
    cursor: pointer;
}
.main_navbar_div>:nth-child(2){
   
    cursor: pointer;

}.main_navbar_div>:nth-child(3){
    cursor: pointer;

}

.main_navbar_toggle_div{
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.main_navbar_toggle_div>:nth-child(1){  
    cursor: pointer;
}
.main_navbar_toggle_div>:nth-child(2){   
    cursor: pointer;
}.main_navbar_toggle_div>:nth-child(3){
   
    cursor: pointer;

}
.name_div{
    display: flex;
    padding-top: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
}
.name_div>:nth-child(1){
    font-family: "Sofia", sans-serif;
  
}
@media screen and (max-width:600px){
    .parent_div{
        padding-left: 0rem;
    }
    .fontIcondiv{
        display: block;
    } 
    .main_navbar_div{
        display: none;
        gap: 1rem;
    }
}