.project_parent_div{
    /* background-color: black; */
    height: max-content; 
    box-shadow: 0 4px 8px 0 rgba(235, 233, 233, 0.532), 0 6px 20px 0 rgba(220, 214, 211, 0.19);

}
.headin_div{
   text-align: center;
   height: max-content;
   font-family: "Sofia", sans-serif;
   
}
.headin_div>h2{
    font-size: 2rem;
 color: black;
 font-weight: 700;
}
.project_subparent_div{
    display: flex;
    flex-wrap: wrap;
    padding: 5%; 
    gap: 2rem;
    align-items: center;
    justify-content: center;

}
 .project_1{
    width: 22rem;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(235, 233, 233, 0.532), 0 6px 20px 0 rgba(220, 214, 211, 0.19);
    background-color:  #1b1b20;
    align-items: center;
    border-radius: 7px;
    text-align: center;
}
.project_2{
    height: 300px;
    width: 22rem;
    box-shadow: 0 4px 8px 0 rgba(235, 233, 233, 0.532), 0 6px 20px 0 rgba(220, 214, 211, 0.19);
    background-color:  #1b1b20;
    align-items: center;
    border-radius: 7px;
    text-align: center;

}
.project_3{
    height: 300px;
    width: 22rem;
    box-shadow: 0 4px 8px 0 rgba(235, 233, 233, 0.532), 0 6px 20px 0 rgba(220, 214, 211, 0.19);
    background-color:  #1b1b20;
    align-items: center;
    border-radius: 7px;
    text-align: center;

}
.images{
    width: 100px; 
}
.images3{
    width: 100px;
    margin: 25px;
}
.para{
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
}
.span{
    margin-left: 10px;
    color: #076c91;
}

@media screen and (max-width: 450px) {
    .project_parent_div{
        height: max-content; 
    }


}
